@charset "utf-8";
html {
	height:auto;
}
body {
	background-color: #000;
	font-family: "微軟正黑體";
	font-size: 13px;
	color: #FFF;
	background-image: url(images/bg_img.jpg);
	background-repeat: repeat-y;
	background-position: top;
	margin: 0px;
}
#back {
	width: 960px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	min-height: 100%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

img {border: 0}

.blank10 {
	height: 10px;
	float: left;
}

a:link {color:#FFF; text-decoration:none;} 

a:visited {
	color: #FFF;
	text-decoration: none;
} 

a:hover {
	color: #d6b032;
	text-decoration: none;
} 
a:active {
	color: #d6b032;
	text-decoration: none;
	font-weight: bold;
}


/*一般頁面 */
/*主區塊*/
#pg {
	width: 1024px;
	height: auto;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
#header {
	width: 1024px;
	height: 124px;
	padding-top: 0px;
	padding-bottom: 0px;
	float: left;
}
#content {
	width: 784px;
	height: auto;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-right: 12px;
	float: left;
	
}
#footer {
	width: 537px;
	height: 205px;
	background-image: url(images/footer.jpg);
	background-repeat: no-repeat;
	background-position: left;
	border-bottom: 10px solid #d00000;
	margin-top: 50px;
	padding-top: 100px;
	padding-left: 487px;
	float: left;
}


/*頁首--*/
#Logo {
	width: 280px;
	height: 89px;
	background-image: url(images/logo_img_h.png);
	padding-right: 0px;
	padding-top: 0px;
	padding-left: 0px;
	float: left;
}
.space_w {
	width: 20px;
	height: 80px;
	float: left;
}
/*頁首--導覽區*/
#nav {
	width: 700px;
	height: 89px;
	padding-left: 28px;
	float: left;
}
/*頁首--導覽區-指向效果*/
.nav_link {
	width: 115px;
	height: 89px;
	background-image: url(images/nav_1.png);
	background-repeat: no-repeat;
	background-position: center top;
	float: left;
}
#nav .nav_link a{
	display: block;

}
#nav .nav_link a:hover{
	background-image: url(images/nav_1_over.png);
	background-repeat: no-repeat;
	background-position: center top;
}
#nav .nav_link a:active{
	background-color: #d6b032;
}
/*頁首--導覽區-指向效果-A*/
.nav_link_A {
	width: 115px;
	height: 89px;
	background-image: url(images/nav_2.png);
	background-repeat: no-repeat;
	background-position: center top;
	float: left;
}
#nav .nav_link_A a{
	display: block;

}
#nav .nav_link_A a:hover{
	background-image: url(images/nav_2_over.png);
	background-repeat: no-repeat;
	background-position: center top;
}
#nav .nav_link_A a:active{
	background-color: #d6b032;
}
/*頁首--導覽區-指向效果-B*/
.nav_link_B {
	width: 115px;
	height: 89px;
	background-image: url(images/nav_3.png);
	background-repeat: no-repeat;
	background-position: center top;
	float: left;
}
#nav .nav_link_B a{
	display: block;

}
#nav .nav_link_B a:hover{
	background-image: url(images/nav_3_over.png);
	background-repeat: no-repeat;
	background-position: center top;
}
#nav .nav_link_B a:active{
	background-color: #d6b032;
}
/*頁首--導覽區-指向效果-C*/
.nav_link_C {
	width: 115px;
	height: 89px;
	background-image: url(images/nav_4.png);
	background-repeat: no-repeat;
	background-position: center top;
	float: left;
}
#nav .nav_link_C a{
	display: block;

}
#nav .nav_link_C a:hover{
	background-image: url(images/nav_4_over.png);
	background-repeat: no-repeat;
	background-position: center top;
}
#nav .nav_link_C a:active{
	background-color: #d6b032;
}
/*頁首--導覽區-指向效果-D*/
.nav_link_D {
	width: 125px;
	height: 89px;
	background-image: url(images/nav_5.png);
	background-repeat: no-repeat;
	background-position: center top;
	float: left;
}
#nav .nav_link_D a{
	display: block;
}
#nav .nav_link_D a:hover{
	background-image: url(images/nav_5_over.png);
	background-repeat: no-repeat;
	background-position: center top;
}
#nav .nav_link_D a:active{
	
}
/*頁首--導覽區-指向效果-Shop*/
.nav_link_Shop {
	width: 115px;
	height: 89px;
	background-image: url(images/nav_Shop.png);
	background-repeat: no-repeat;
	background-position: center top;
	float: left;
}
#nav .nav_link_Shop a{
	display: block;
}
#nav .nav_link_Shop a:hover{
	background-image: url(images/nav_Shop_over.png);
	background-repeat: no-repeat;
	background-position: center top;
}
#nav .nav_link_Shop a:active{
	
}
/*頁首--導覽區-指向效果-END*/

.nav_text {
	font-family: "微軟正黑體";
	color: #FFF;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	padding-top: 60px;
	padding-bottom: 10px;
}
.nav_Location {
	width: 140px;
	height: 89px;
	background-color: #29a3eb;
	font-family: "微軟正黑體";
	color: #FFF;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	float: left;
}
/*頁首--導覽區END*/
#bar {
	width: 998px;
	height: 26px;
	border: 1px solid #d00000;
	margin-left: 12px;
	float: left;
}

#slogan {
	width: 266px;
	height: 26px;
	background-image: url(images/slogan.png);
	float: left;
}
#shop {
	width: 98px;
	height: 20px;
	background-color: #d6b032;
	font-family: "微軟正黑體";
	color: #000;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	float: left;
	margin: 3px;
}
#shop_link {
	height: 16px;
	border-right: 1px solid #d6b032;
	font-family: "微軟正黑體";
	color: #d6b032;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	float: left;
	margin-top: 5px;
	padding-right: 13px;
	padding-left: 13px;	
}


#shop_link a{
	color: #d6b032;
	display: block;

}
#shop_link a:hover{
	color: #ff0000;
}
#shop_link a:active{
	color: #ff0000;
}



/*頁首--END*/



/*內容區*/

#mainphoto {
	width: 1000px;
	height: 300px;
	padding-left: 12px;
	padding-right: 12px;
	margin-bottom: 20px;
	float: left;
}
#contentHall {
	width: 1000px;
	height: 480px;
	padding-left: 12px;
	padding-right: 12px;
	margin-bottom: 20px;
	float: left;
}

/*側欄*/
#sidebar {
	width: 183px;
	margin-left: 12px;
	margin-right: 33px;
	float: left;
}

/*側欄---叫號系統 圖高46px*/
#CallSys {
	width: 183px;
	height: 280px;
	background-image: url(images/collsys.png);
	background-repeat: no-repeat;
	margin-bottom: 10px;
	float: left;
}
#CallSys_box {
	width: 179px;
	height: 232px;
	border-left: 2px solid #ff0000;
	border-right: 2px solid #ff0000;
	border-bottom: 2px solid #ff0000;
	margin-top: 46px;
	float: left;
}
#Call_SNb {
	width: 157px;
	height: 46px;
	border-left: 7px solid #ff0000;
	border-bottom: 1px solid #ff0000;
	padding-left: 13px;
	margin-right: 2px;
	margin-bottom: 15px;
	float: left;
}
.SpName {
	height: 16px;
	font-family: "微軟正黑體";
	color: #ff0000;
	font-size: 16px;
	font-weight: bold;
	padding-top: 5px;
	float: left;
}
.SpNb {
	height: 24px;
	font-family: "微軟正黑體";
	color: #d6b032;
	font-size: 24px;
	font-weight: bold;
	float: left;
}
.SpPhone {
	width: 157px;
	height: 12px;
	font-family: "微軟正黑體";
	color: #ff0000;
	font-size: 12px;
	padding-top: 3px;
	float: left;
}
.callReset_btn {
	width: 112px;
	height: 34px;
	font-family: "微軟正黑體";
	color: #FFF;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	background-image: url(images/BtnA.png);
	background-repeat: no-repeat;
	margin-right: 33px;
	float: right;
}
.callReset_btn:hover {
	background-image: url(images/Btn_over.png);
}
.callReset_btn:active {
	background-image: url(images/Btn_over.png);
}
/*側欄---叫號系統End*/

#fb_box {
	width: 181px;
	height: 258px;
	border: 1px solid #ff0000;
	float: left;
}
/*側欄---END*/
#Bn {
	width: 181px;
	height: 303px;
	margin-top: 10px;
	float: left;
}
#card {
	width: 181px;
	margin-top: 30px;
	float: left;
}
/*首頁-公布欄---*/
#Bulletin {
	width: 784px;
	height: auto;
	margin-bottom: 15px;
	float: left;
}
.Banner {
	width: 784px;
	
	margin-bottom: 10px;
	float: left;
}

/*內容區--共用_項目標題*/
.Subject {
	width: 771px;
	height: 27px;
	color: #ff0000;
	font-size: 22px;
	font-weight: bold;
	border-left: 8px solid #ff0000;
	border-bottom: 1px solid #ff0000;
	padding-left: 5px;
	margin-bottom: 15px;
	float: left;
}
.Subject_w1000 {
	width: 987px;
	height: 27px;
	color: #ff0000;
	font-size: 22px;
	font-weight: bold;
	border-left: 8px solid #ff0000;
	border-bottom: 1px solid #ff0000;
	padding-left: 5px;
	margin-top: 20px;
	
	margin-bottom: 15px;
	float: left;
}
.Sub_itemName {
	width: 771px;
	height: 27px;
	color: #d6b032;
	font-size: 22px;
	font-weight: bold;
	border-left: 8px solid #ff0000;
	border-bottom: 1px solid #ff0000;
	padding-left: 5px;
	margin-bottom: 15px;
	float: left;
}
/*內容區--紅底線+TOP*/
.RedLine {
	width: 738px;
	height: 31px;
	font-size: 16px;
	text-align: right;
	border-bottom: 1px solid #ff0000;
	margin-right: 2px;
	float: left;
}
.topBt {
	width: 43px;
	height: 23px;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	text-align: center;
	background-color: #d6b032;
	padding-top: 9px;
	float: left;
}

.2_meals {
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	padding-top: 7px;
	margin-right: 5px;
	float: right;
	display: block;
}

.2_meals a {
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	float: right;
}
.2_meals a:hover{
	color: #ff0000;
}
.2_meals a:active{
	color: #ff0000;
}

/*內容區--餐點清單*/
.mealsLook {
	width: 100px;
	height: 27px;
	background-color: #ff0000;
	border-top-right-radius:10px;
	color: #ffffff;
	text-align: center;
	margin-right: 10px;
	float: left;
}

.meals {
	width: 98px;
	height: 25px;
	background-color: #111;
	border-top-right-radius: 10px;
	text-align: center;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
	border-right: 1px solid #666;
	margin-right: 10px;
	float: left;
}
.meals a{
	color: #CCCCCC;
	display: block;
}
.meals a:hover{
	color: #ff0000;
}
.meals a:active{
	color: #ff0000;
}


.itemBox_L {
	width: 368px;
	height: 300px;
	border: 1px solid #ff0000;
	margin-left: 8px;
	margin-bottom: 30px;
	float: left;
}
.itemBox_R {
	width: 368px;
	height: 300px;
	border: 1px solid #ff0000;
	margin-left: 36px;
	margin-bottom: 30px;
	float: left;
}
.itemIMG {
	width: 358px;
	height: 238px;
	border: 1px solid #333;
	margin: 4px;
	float: left;
}
.itemName {
	width: 289px;
	height: 40px;
	font-size: 20px;
	color: #d6b032;
	font-weight: bold;
	margin-top: 12px;
	margin-left: 6px;
	float: left;
	vertical-align: text-bottom;
}
.attachName {
	width: 200px;
	height: 40px;
	font-size: 20px;
	color: #d6b032;
	font-weight: bold;
	margin-top: 12px;
	margin-left: 6px;
	float: left;
	vertical-align: text-bottom;
}
.itemLook {
	width: 66px;
	height: 42px;
	background-color: #111111;
	font-size: 14px;
	border: 1px solid #333;
	text-align: center;
	padding-top: 5px;
	margin-top: 0px;
	float: left;
}
.attachPrice {
	width: 157px;
	height: 33px;
	font-size: 14px;
	color: #ffffff;
	text-align: right;
	padding-top: 19px;
	float: left;
}
/*內容區--餐點清單_單品*/
.itemIMG_big {
	width: 776px;
	height: 582px;
	margin-left: 8px;
	float: left;
}
.mealsExp {
	width: 776px;
	margin-top: 20px;
	margin-left: 8px;
	float: left;
}
.Price {
	font-size: 18px;
	color: #ffffff;
	float: left;
}
.PriceNb {
	font-size: 27px;
	color: #ff0000;
	font-weight: bold;
}
.quantity {
	font-size: 15px;
	color: #ffffff;
	padding-top: 8px;
	float: right;
}

.gold {
	color: #d6b032;
}




/*媒體區--*/
/*媒體區_Video-----*/
#videoBox_XXX {
	width: 784px;
	height: 360px;
	margin-bottom: 30px;
	overflow: auto;
	float: left;
}
.videoBox {
	margin-bottom: 30px;
	float: left;
}

#mdBox {
	width: 784px;
	height: 360px;
	margin-bottom: 30px;
	float: left;
}
#vdoBox {
	width: 480px;
	height: 360px;
	float: left;
}

#liBox {
	width: 286px;
	height: 360px;
	border-top: 1px solid #ff0000;
	margin-left: 18px;
	float: left;
}

.video_link {
	width: 286px;
	height: 71px;
	border-bottom: 1px solid #ff0000;
	float: left;
}
.Vdo_img {
	width: 50px;
	height: 50px;
	padding-top: 11px;
	float: left;
}
.Vdo_text {
	width: 226px;
	
	font-size: 18px;
	font-weight: bold;
	padding-top: 17px;
	padding-left: 10px;
	float: left;
}
.Look {
	width: 224px;
	font-size: 12px;
	padding-left: 12px;
	float: left;
}
/*媒體區_Video---end--*/
/*媒體區_雜誌--*/
.mgz {
	width: 776px;
	height: 558px;
	margin-left: 8px;
	margin-bottom: 20px;
	float: left;
}
.mgzS {
	width: 776px;
	height: 367px;
	margin-left: 8px;
	margin-bottom: 40px;
	float: left;
}
.mgzSbox {
	width: 252px;
	margin-right: 10px;
	float: left;
}
.mgzSbox_m0 {
	width: 252px;
	float: left;
}
.mgz_name {
	height: 24px;
	font-size: 15px;
	color: #d6b032;
	font-weight: bold;
	float: left;
}
.mgzImg_L {
	width: 776px;
	height: 534px;
	float: left;
}
.mgzimg_s {
	width: 252px;
	height: 343px;
	margin: 0px;
	float: left;
}

/*媒體區_網友--*/
.blogbox {
	width: 774px;
	height: 210px;
	border: 1px solid #ff0000;
	margin-left: 8px;
	margin-bottom: 30px;
	float: left;
}
.blogimg {
	width: 200px;
	height: 200px;
	margin: 4px;
	float: left;
}
.blogtxt {
	width: 535px;
	height: 200px;
	font-size: 13px;
	line-height: 20px;
	margin: 4px;
	padding-left: 16px;
	float: left;
}
/*媒體區--END*/
/*內容區--徵才快報--*/
#wrap {
	width: 774px;
	height: auto;
	border: 1px solid #ff0000;
	margin-left: 8px;
	margin-bottom: 30px;
	float: left;
	display:table;
}
#jobhead {
	width: 774px;
	height: 46px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	display: table-cell;
	float: left;
}

.jobTd_Ha {
	width: 110px;
	height: 100%;
	background-color: #f00;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 1px;
	float: left;
}
.jobTd_Hb {
	width: 120px;
	height: 100%;
	background-color: #f00;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 1px;
	float: left;
}
.jobTd_Hc {
	width: 320px;
	height: 100%;
	background-color: #f00;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 1px;
	float: left;
}
.jobTd_Hd {
	width: 100px;
	height: 100%;
	background-color: #f00;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 1px;
	float: left;
}
.jobTd_He {
	width: 100px;
	height: 100%;
	background-color: #f00;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 1px;
	float: left;
}

#joBox {
	width: 774px;
	height: auto;
	font-size: 13px;
	text-align: center;
	float: left;
}

.cell {
	width: 774px;
	height: 46px;
	font-size: 13px;
	text-align: center;
	float: left;
	
}
.jobTd_a {
	width: 110px;
	height: 38px;
	background-color: #222;
	padding-top: 8px;
	margin: 1px;
	float: left;
}
.jobTd_b {
	width: 120px;
	height: 38px;
	background-color: #222;
	padding-top: 8px;
	margin: 1px;
	float: left;
}
.jobTd_c {
	width: 320px;
	height: 38px;
	background-color: #222;
	padding-top: 8px;
	margin: 1px;
	float: left;
}
.jobTd_d {
	width: 100px;
	height: 38px;
	background-color: #222;
	padding-top: 8px;
	margin: 1px;
	float: left;
}
.jobTd_e {
	width: 100px;
	height: 38px;
	background-color: #222;
	padding-top: 8px;
	margin: 1px;
	float: left;
}


.td a {}

.jobTd_a a:hover{background-color: #f00;}

.jobTd_HaXXX {
	width: 100px;
	height: 100%;
	border: 1px solid #ff0000;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 1px;
	float: left;
	display:table-cell;
	vertical-align:middle;
}
.cellXX {
	width: 776px;
	height: auto;
	font-size: 13px;
	text-align: center;
	float: left;
	display:table-cell;
	vertical-align:middle;
}
#jobheadXX {
	width: 774px;
	height: 37px;
	background-color: #d6b032;
	border: 1px solid #000000;
	margin: 1px;
	float: left;
}
.jobTd_box {
	width: 104px;
	height: 40px;
	color: #FFF;
	display:table-cell;
	vertical-align:middle;
	float: left;
}

.jobLi {
	width: 776px;
	height: auto;
	font-size: 13px;
	text-align: center;
	vertical-align: middle;
	float: left;
}

/*內容區--分店--*/
#mapBox {
	width: 776px;
	height: 582px;
	margin-left: 8px;
	float: left;
}
.shopIMG {
	width: 776px;
	height: auto;
	margin-top: 20px;
	margin-left: 8px;
	float: left;
}



/*XXX--*/

#article {
	width: 695px;
	height: auto;
	padding-left: 32px;
	border-left-width: 1px;
	border-left-color: #CCC;
	border-left-style: solid;
	float: left;
}
#article_m {
	width: 510px;
	height: auto;
	padding-left: 32px;
	padding-right: 32px;
	border-left-width: 1px;
	border-left-color: #CCC;
	border-left-style: solid;
	float: left;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCC;
}
#sv_box {
	padding-top: 32px;
}

/*側欄導覽Menu*/
.sd_menu {
	width: 152px;
	padding-left: 14px;
	margin-bottom: 20px;
	margin-left: 20px;
	background-image: url(images/arrow_green.gif);
	background-repeat: no-repeat;
	background-position: left;
	float: left;
}
.sd_menu a {
	color:#333;
	background-image: url(images/arrow.gif);
}
.sd_menu a:hover{
	background-image: url(images/arrow.gif);
}

/*內容區--工程圖像列表*/
.acli_Box {
	width: 225px;
	height: 261px;
	padding-top: 15px;
	padding-bottom: 20px;
	float: left;
}
.acli_img {
	width: 225px;
	height: 225px;
	float: left;
}
.acli_name {
	width: 220px;
	height: 28px;
	background-color: #000;
	font-size: 18px;
	font-weight: bold;
	color: #FFF;
	padding-top: 8px;
	padding-left: 5px;
	float: left;
}

.space_h150 {
	width: 784px;
	height: 150px;
	float: left;
}
.space_h60 {
	width: 784px;
	height: 60px;
	float: left;
}
.space_h30 {
	width: 784px;
	height: 30px;
	float: left;
}
.space_h10 {
	width: 784px;
	height: 10px;
	float: left;
}
.space_w10 {
	width: 10px;
	height: 296px;
	float: left;
}



/*內容區--聯絡我們*/
#contact_box {
	padding-top: 80px;
	padding-left: 65px;
	font-size: 30px;
	line-height: 50px;
	font-weight: bold;
}



/*文字樣式*/
p{
	font-size: 13px;
	line-height: 20px;
}
h1{
	font-size: 28px;
	line-height: 28px;
	font-weight: bold;
	color: #29a3eb;
	margin-bottom: 20px;
}
h2{
	font-size: 16px;
	font-weight: bold;
	color: #333333;
	margin-top: 30px;
	margin-bottom: 5px;
}
h3{
	font-size:13px;
	font-weight: bold;
	color:#5F125D;
	margin-top: 5px;
	margin-bottom: 0px;
}
.red{
	color: #F00;
	font-style: italic;
}
.bigText{
	font-size: 125%;
	font-weight: bold;
}
.petsExp {
	width: 776px;
	margin-top: 5px;
	margin-left: 8px;
	float: left;
	text-align: right;
}


/*頁尾區塊*/
#footer_logo {
	width: 280px;
	height: 89px;
	margin-top: 0px;
	padding-top: 0px;
	padding-left: 0px;
	float: left;
}
#footer_logo000 {
	width: 527px;
	height: 191px;
	font-size: 20px;
	font-weight: bold;
	color: #29a3eb;
	text-align: right;
	padding-right: 10px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFF;
	float: left;			
}
#footer_text {
	width: 417px;
	height: 102px;
	font-size: 12px;
	color: #FFF;
	padding-left: 120px;
	float: left;				
}
#Copyright {
	width: 758px;
	height: 15px;
	font-size: 9px;
	color: #FFF;
	padding-left: 10px;
	float: left;
}
/*頁尾區塊_End****/

#cap {
	color: #505050;
	font-weight: normal;
} 
#cap a:link {
	color: #505050;
	font-weight: normal;
	text-decoration:none;
} 
#cap a:visited {
	color: #505050;
	font-weight: normal;
	text-decoration: none;
} 
#cap a:hover {
	color: #505050;
	font-weight: normal;
	text-decoration: none;
} 
#cap a:active {
	color: #505050;
	font-weight: normal;
	text-decoration: none;
}
