body{
    height: 2000px;
    background-color: black;
}

.top{
    background-image: url("../imgs/title_bg.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
}

.logo{
    width: 200px;
    /* background-image: url("/imgs/logo_2.png");
    background-size: contain;
    background-repeat: no-repeat; */
}

.logo_center{
    position:absolute;
    /* width: 850px; */
    opacity: 0.9;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: fadin 3s 1;
}

.logo_gh{
    width: 30px;
    height: 30px;
    background-image:url("/imgs/gh.png");
    background-size: contain;
    background-repeat: no-repeat;
     display: inline-block;

}

a{
    font-size: 24px;
    font-family: 微軟正黑體;
    font-weight: bold;
    letter-spacing: 10px;
}

.bg-light {
    background-color: #f8f9fa2c!important;
}

.spaceMargin{
    height: 20px;
}

.newMessage{
    width: 600px;
    height: 200px;
    background-image: url("/imgs/Information.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.color{
    background-color: rgb(131, 22, 221);
    height: 200px;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  text-align: center;
  height: 1.5em;
  font-size: 20px;
  /* opacity: .5; */
}
.hr-text:before {
  content: '';
  background: -webkit-linear-gradient(left, transparent, #818078, transparent);
  background: linear-gradient(to right, transparent, #c9b415, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 .5em;
  line-height: 1.5em;
  background-color: #fcfcfa;
}

.swiper-slide{
    background: black !important;
}

.step{
    margin-top:20px; 
    width: 100%;
    height: 400px;
    position: relative;
}

.step_img{
    width: 200px;
}

.select_all{
    width: 800px;
    position: absolute;
}

.step_1{
    left: 10px;
    z-index: 3;
    position: absolute;
}
.simg_1{
    left: 50%;
    transform: translate(-50%);
}
.step_2{
    right: 0;
    z-index: 3;
    position: absolute;
}
.simg_2{
    left: 50%;
    transform: translate(-50%);
}
.step_3{
    left: 0;
    z-index: 3;
    position: absolute;
}
.simg_3{
    left: 50%;
    transform: translate(-50%);
}
.step_4{
    right: 0;
    z-index: 3;
    position: absolute;
}
.simg_4{
    left: 50%;
    transform: translate(-50%);
}

.cus_footer{
    background-color:rgb(56, 53, 53);
}

.address{
    width: 50%;
    height: 50px;
    color: white;
    float: left;
}

.info{
    width: 50%;
    margin: 0 auto;
    color: white;
}

.ft_bg{
    width: 100%;

}


@keyframes fadin{
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}